body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #00529f; /* Harvard Blue */
    color: #fff;
    padding: 1em;
    text-align: center;
}

#dashboard-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.dashboard-item {
    width: 30%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dashboard-item:hover {
    background-color: #ecf0f1;
}

.dashboard-item img {
    width: 40px; /* Adjust the size as needed */
    height: 40px; /* Adjust the size as needed */
}

/* ... (rest of your styles) */
